@font-face {
  font-family: "Brandon";
  src: url("../fonts/Brandon_reg.otf"); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

html {
  font-family: Brandon, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  color: #222;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  font-size: 1.6rem;
  margin: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.6rem 0;
  padding: 0;
  box-sizing: content-box; }

.browserupgrade {
  margin: 0.4rem 0;
  background: #ccc;
  color: #000;
  padding: 0.4rem 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: middle; }

img,
iframe,
svg {
  vertical-align: middle; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent;
  color: blue;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0;
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 3.2rem;
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.8rem; }

sub {
  bottom: -0.4rem; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 16rem 4rem; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1.6rem; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

img {
  max-width: 100%; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.main-header {
  width: 100%;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background: #202020; }

.mod-logo {
  width: 100%;
  height: 60px;
  padding: 5px; }
  .mod-logo__img {
    width: 100%;
    height: 60px; }

.mod-nav {
  width: 100%;
  height: 60px;
  text-align: center; }

.mod-menu {
  height: auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.mod-menu__item {
  list-style: none;
  width: 50%; }

.mod-menu__link {
  color: #FEFCFB;
  display: block;
  line-height: 60px; }
  .mod-menu__link:hover {
    background: #3A3A3A; }

@media screen and (max-width: 30em) {
  .mod-menu__link {
    border-right: 1px solid #202020; } }

@media screen and (max-width: 45em) {
  .main-header {
    -ms-flex-direction: column;
        flex-direction: column;
    height: 120px; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.nav-mixed {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  background-color: #CC3333;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .nav-mixed .single-nav {
    -ms-flex: 1 0 70%;
        flex: 1 0 70%;
    text-align: center; }
  .nav-mixed .social-menu {
    -ms-flex: 1 0 30%;
        flex: 1 0 30%; }

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #CC3333; }

.menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: .6em 1em; }

.menu li a:hover {
  background: #3A3A3A; }

.single-nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.single-nav li {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  text-align: center; }
  .single-nav li a {
    border-right: 1px solid #8f2424; }

.social-menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end; }

@media screen and (max-width: 30em) {
  .single-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 1.2em; }
  .single-nav li {
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    text-align: center; }
    .single-nav li a {
      border-bottom: 1px solid #8f2424; }
  .social-menu {
    display: none; } }

@media screen and (max-width: 45em) {
  .nav-mixed {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #CC3333; }
    .nav-mixed .single-nav {
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
      text-align: center; }
    .nav-mixed .social-menu {
      -ms-flex: 1 0 30%;
          flex: 1 0 30%; }
  .single-nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 1.2em; }
  .single-nav li {
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    text-align: center; }
  .social-menu ul {
    -ms-flex-pack: center;
        justify-content: center; } }

.social-menu li a:before {
  font-family: 'Fontawesome';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  content: ''; }

.social-menu li a[href*="facebook.com"]::before {
  content: '\f09a'; }

.social-menu li a[href*="twitter.com"]::before {
  content: '\f099'; }

.social-menu li a[href*="plus.google.com"]::before {
  content: '\f0d5'; }

.social-menu li a[href*="youtube.com"]::before {
  content: '\f167'; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.main {
  background-color: coral;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: #FEFCFB;
  position: relative; }
  .main .main-banner {
    width: 100%;
    height: 100%; }
  .main .copy-main {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%) translateY(-50%); }
  .main .banner-title {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    text-transform: uppercase; }
    @media screen and (min-width: 480px) {
      .main .banner-title {
        font-size: 2em; } }
  .main .container-options-banner {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }
    @media screen and (min-width: 768px) {
      .main .container-options-banner {
        margin-top: 2em;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        margin-left: auto;
        margin-right: auto; } }
  .main .banner-option {
    margin-left: .5em;
    margin-right: .5em; }
  .main .banner-slogan {
    font-size: 1.8em; }
    @media screen and (min-width: 768px) {
      .main .banner-slogan {
        font-size: 1.5em; } }
  .main .banner-input {
    color: #B22D2D;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    outline: none; }
    @media screen and (min-width: 768px) {
      .main .banner-input {
        font-size: 1.2em; } }
  .main .banner-label {
    display: block;
    font-size: 1.2em;
    padding-top: 5px; }
  .main .banner-button {
    color: #FEFCFB;
    font-size: 1em;
    margin-top: .5em;
    background: #B22D2D;
    outline: none;
    border: none;
    padding: 3px 20px; }
    .main .banner-button:hover {
      background: #CC3333; }
    @media screen and (min-width: 768px) {
      .main .banner-button {
        font-size: 1em; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.container-options {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 2.5em 0; }
  @media screen and (min-width: 768px) {
    .container-options {
      width: 77%; } }
  .container-options .options-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: #B22D2D; }
  .container-options .l-container-options {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .container-options .l-container-options .options__article {
      width: 100%;
      height: 150px;
      margin: 0 .4em 1em;
      color: #FEFCFB;
      text-transform: uppercase;
      font-size: 1.2em;
      text-align: center;
      border-radius: 10px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; }
      @media screen and (min-width: 480px) {
        .container-options .l-container-options .options__article {
          width: 30%;
          font-size: .8em; } }
      @media screen and (min-width: 768px) {
        .container-options .l-container-options .options__article {
          font-size: 1em; } }
      .container-options .l-container-options .options__article > h3, .container-options .l-container-options .options__article > p {
        z-index: 20; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.container-featured {
  width: 95%;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px 0; }

.featured-title {
  font-size: 1.8em;
  color: #CC3333;
  border-bottom: 1px dashed #CC3333;
  margin-bottom: 1.5em; }

.l-container__featured {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 100%; }

.featured-box {
  text-align: center;
  width: 100%;
  border: none;
  margin-bottom: .8em; }

.copy__img {
  padding: 5px;
  border-radius: 20px;
  height: 280px; }

.copy {
  width: 100%;
  height: auto; }
  .copy__restaurant {
    color: #CC3333;
    font-size: 1.4em;
    padding-top: 0.4em; }
  .copy__place {
    color: #B22D2D;
    font-size: 1.2em; }

.feature-precio {
  padding-bottom: 0.8em; }

.featured-button {
  outline: none;
  border: none;
  padding: 5px 15px;
  background: #B22D2D;
  color: #FEFCFB;
  margin-bottom: .7em; }
  .featured-button:hover {
    background: #CC3333; }

.copy__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: .4em;
  margin-top: .7em; }

@media screen and (max-width: 45em) {
  .featured-box {
    border: 1px dashed #CC3333; }
  .l-container__featured {
    -ms-flex-direction: column;
        flex-direction: column; }
  .copy__info {
    -ms-flex-direction: column;
        flex-direction: column; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.container-rankings {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center; }

.container-rankings > .l-container-rankings {
  width: 95%;
  margin: 5% auto;
  height: 100%;
  background-color: #e5e3e2; }
  .container-rankings > .l-container-rankings .rankings-title {
    margin-top: 2%;
    text-align: center;
    color: #202020;
    padding: 1em; }
  .container-rankings > .l-container-rankings .rankings-img {
    height: 10em;
    width: 100%;
    padding: .5em;
    border-radius: 20px; }
  .container-rankings > .l-container-rankings div article {
    height: 5em;
    padding: 1%;
    margin: 5% 0 10% 0;
    width: 100%; }
    .container-rankings > .l-container-rankings div article .rankings-index {
      font-size: 2em;
      color: #3A3A3A;
      padding: 2%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      width: 20%;
      height: 100%;
      float: left; }
    .container-rankings > .l-container-rankings div article a {
      width: 80%;
      padding: 1em;
      color: #CC3333;
      text-transform: uppercase;
      font-weight: 800;
      float: left;
      line-height: 1em; }
    .container-rankings > .l-container-rankings div article p {
      float: left;
      width: 80%;
      line-height: 0.1em;
      padding-left: 1em; }
    .container-rankings > .l-container-rankings div article span:first-of-type {
      float: left;
      color: gray;
      padding-left: 1em;
      margin-top: 5%;
      padding-top: 1%;
      font-size: 1.3em; }
    .container-rankings > .l-container-rankings div article span:last-child {
      margin-top: 5%;
      padding: 1%;
      float: right;
      background-color: #3A3A3A;
      color: #FEFCFB; }
  @media screen and (min-width: 768px) {
    .container-rankings > .l-container-rankings {
      width: 25%; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/*
<footer class="main-footer">
        <h3 class="footer-title">Come Bien</h3>
        <p class="footer-copy">&copy; 2016</p>
    </footer>
*/
.main-footer {
  background: #202020;
  width: 100%;
  height: 100px;
  color: #FEFCFB;
  text-align: center;
  padding: 30px;
  background-attachment: fixed; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.contaier-options__search {
  width: 100%;
  height: auto;
  margin-top: .5em; }

.title-search {
  text-align: center;
  color: #CC3333;
  font-size: 1.5em; }

.search-nav {
  width: 95%;
  margin: .5em auto;
  height: auto; }

.search-menu {
  list-style: none;
  width: 100%;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }
  .search-menu__item {
    width: 100%; }
  .search-menu__link {
    text-align: center;
    background: #202531;
    display: block;
    width: 100%;
    padding: .3em .5em;
    color: #B22D2D; }
    .search-menu__link:hover {
      background: #3A3A3A;
      color: #FEFCFB; }

@media screen and (max-width: 30em) {
  .search-menu {
    -ms-flex-direction: column;
        flex-direction: column; }
  .search-menu__item {
    border-bottom: 1px solid #FEFCFB; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.search-main {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: .3em .5em; }

.search-restaurants {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

.search-restaurant {
  border-bottom: 2px solid #CC3333;
  margin-bottom: 2em;
  padding: .8em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  transition: .6s; }
  .search-restaurant__img {
    height: 20em;
    width: 50%; }

.search-restaurant__info {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: .2em 0;
  color: #202531; }
  .search-restaurant__info--title {
    text-transform: uppercase;
    font-size: 1.2em; }
  .search-restaurant__info--place {
    text-transform: uppercase;
    font-size: 1em; }
  .search-restaurant__info--calification {
    font-size: 1em; }
    .search-restaurant__info--calification > .stars {
      color: deepskyblue;
      font-size: 1.2em;
      padding-right: .5em; }
  .search-restaurant__info--precio {
    text-transform: uppercase;
    font-size: 1em; }
    .search-restaurant__info--precio > .desde:after {
      content: "   S/.";
      padding-left: .5em; }
  .search-restaurant__info--more {
    color: #CC3333;
    border: 2px solid #202531;
    border-radius: 10px;
    padding: .3em 1.2em;
    transition: .3s; }
    .search-restaurant__info--more:hover {
      background: rgba(58, 58, 58, 0.5); }
  .search-restaurant__info .box-help {
    height: 8em;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    width: 95%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center; }

@media screen and (max-width: 45em) {
  .search-restaurant {
    -ms-flex-direction: column;
        flex-direction: column;
    border: none; }
    .search-restaurant__img {
      height: 15em;
      width: 100%; }
    .search-restaurant--more {
      margin-top: 1em; }
    .search-restaurant .box-help {
      -ms-flex-direction: column;
          flex-direction: column; } }

/* TOGGLE PANEL MOD*/
.content-filter {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

.box-mostrar2 {
  width: 16em;
  height: auto;
  background: #202020;
  color: #FEFCFB;
  text-align: center;
  margin: .3em auto;
  border: 2px solid #3A3A3A;
  padding: .3em;
  border-radius: 1em;
  cursor: pointer; }

.box-panel {
  width: 90%;
  background: white;
  border: none;
  max-height: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  transition: all 2s; }

.box-elementomostrar {
  background: rgba(204, 51, 51, 0.65);
  width: 90%;
  max-height: 15em;
  height: 10em;
  margin: .3em auto;
  padding: .3em;
  text-align: center;
  border-radius: 1em; }

.box-mostrar {
  max-height: 15em;
  overflow: visible;
  clear: both; }

select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: .3em 1em;
  margin: 0 auto;
  transition: border-color 0.2s;
  border: 1px solid #70bcc6;
  border-radius: 5px;
  background: #fff;
  color: #555;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.label-place,
.input-place {
  display: block;
  color: #FEFCFB; }

.label-place {
  margin-top: .3em; }

.input-place {
  margin: .3em auto;
  width: 12em;
  color: #B22D2D; }

.box-ubicacion {
  height: 7em; }

.box-comida {
  height: 14em; }

@media screen and (max-width: 30em) {
  .content-filter {
    -ms-flex-direction: column;
        flex-direction: column; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.main-reservation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.restaurant-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  margin-top: 5%; }
  .restaurant-main .main-wrapper {
    width: 95%; }
    .restaurant-main .main-wrapper h1 {
      width: 100%; }
    .restaurant-main .main-wrapper img {
      width: 100%;
      margin-bottom: 1.5em; }
    .restaurant-main .main-wrapper span {
      font-weight: 800; }
    .restaurant-main .main-wrapper p {
      margin-bottom: 1.5em; }
  @media screen and (min-width: 768px) {
    .restaurant-main {
      /*justify-content: flex-start;*/
      width: 70%;
      margin-bottom: 0; } }
  @media screen and (min-width: 1025px) {
    .restaurant-main .main-wrapper {
      width: 85%; } }

.restaurant-reservation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center; }
  .restaurant-reservation .reservation-wrapper {
    width: 95%;
    background-color: #e5e3e2;
    padding: 8%; }
    .restaurant-reservation .reservation-wrapper h3 {
      margin-bottom: 5%;
      color: #CC3333; }
    .restaurant-reservation .reservation-wrapper input {
      margin: 2.5%;
      width: 80%;
      height: 2em; }
    .restaurant-reservation .reservation-wrapper input:last-of-type {
      background-color: #CC3333;
      color: #FEFCFB; }
  @media screen and (min-width: 768px) {
    .restaurant-reservation {
      width: 20%;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
      .restaurant-reservation .reservation-wrapper {
        /*display: flex;*/
        -ms-flex-line-pack: center;
            align-content: center; } }

.restaurant-img {
  margin: 2em 0;
  width: 100%;
  /*border:1px 0 dotted $primary-red;*/ }
  .restaurant-img .img-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
    padding: 8%; }
    .restaurant-img .img-wrapper h1 {
      width: 100%; }
    .restaurant-img .img-wrapper .img-gallery {
      width: 100%; }
      .restaurant-img .img-wrapper .img-gallery a img {
        margin: 0.2em 0;
        width: 10em;
        height: auto; }
  @media screen and (min-width: 768px) {
    .restaurant-img {
      margin: 0;
      width: 100%; }
      .restaurant-img .img-wrapper {
        padding: 3%; } }

.restaurant-menu {
  border: 1px dotted #CC3333;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 2% 0;
  background-color: #e5e3e2; }
  .restaurant-menu .menu-wrapper {
    border: 1px dotted #CC3333;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
    background-color: #FEFCFB;
    padding: 2% 0; }
    .restaurant-menu .menu-wrapper h2 {
      width: 100%;
      color: #CC3333;
      text-align: center; }
    .restaurant-menu .menu-wrapper .menu-container {
      text-align: center; }
      .restaurant-menu .menu-wrapper .menu-container ul {
        list-style: none; }
    @media screen and (min-width: 768px) {
      .restaurant-menu .menu-wrapper {
        width: 30%; } }

.qualities-map {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }

.restaurant-description {
  margin: 2em 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 2% 0; }
  .restaurant-description .description-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
    background-color: #FEFCFB;
    padding: 2% 0; }
    .restaurant-description .description-wrapper .description-container h2 {
      text-align: center; }
    .restaurant-description .description-wrapper .description-container p {
      text-align: justify;
      text-justify: inter-word; }
    .restaurant-description .description-wrapper .restaurant-qualities {
      margin: 1em 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .restaurant-description .description-wrapper .restaurant-qualities div {
        margin: 1em 0;
        padding: 1em 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        width: 80%;
        background-color: #e5e3e2; }
        .restaurant-description .description-wrapper .restaurant-qualities div h4 {
          color: #CC3333; }
    .restaurant-description .description-wrapper .restaurant-map {
      width: 100%; }
      .restaurant-description .description-wrapper .restaurant-map .map-c {
        border: 1px solid #CC3333;
        width: 100%;
        height: 10em; }
    @media screen and (min-width: 768px) {
      .restaurant-description .description-wrapper .restaurant-qualities {
        width: 30%; }
      .restaurant-description .description-wrapper .restaurant-map {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        width: 70%; }
        .restaurant-description .description-wrapper .restaurant-map p {
          text-align: center; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.control-title {
  text-align: center;
  font-size: 2em;
  color: #CC3333;
  padding-top: .8em; }

.container-basic-information {
  background: rgba(58, 58, 58, 0.5);
  border-radius: 10px;
  width: 95%;
  padding-top: .5em;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.information-restaurants {
  height: auto; }
  .information-restaurants__name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: .5em; }
  .information-restaurants__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    text-align: center;
    padding-bottom: .5em; }
  .information-restaurants__stars {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: .5em; }
  .information-restaurants__ubicacion {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    padding-bottom: .5em; }
  .information-restaurants__image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: .5em;
    padding-top: .5em; }
  .information-restaurants__label {
    font-size: 1.2em;
    color: #CC3333;
    /**/
    padding-right: 1em; }
  .information-restaurants__input {
    font-size: 1.2em;
    width: 13.3em;
    color: #B22D2D; }
  .information-restaurants__buttom {
    font-size: 1.2em;
    border-radius: 10px;
    width: 10em;
    padding: .2em 0;
    color: #FEFCFB;
    border: none;
    background: #B22D2D; }
    .information-restaurants__buttom:hover {
      background: #CC3333; }
  .information-restaurants__texarea {
    color: #B22D2D; }

.container-information-menu {
  margin-top: .5em;
  background: rgba(58, 58, 58, 0.5);
  border-radius: 10px;
  width: 95%;
  padding-top: .5em;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.information-restaurants__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: .5em; }

.container-submit {
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .8em; }
  .container-submit .submit {
    margin-top: 2.5em;
    width: 100%; }

@media screen and (max-width: 30em) {
  .information-restaurants__name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .information-restaurants__description {
    -ms-flex-direction: column;
        flex-direction: column; }
  .information-restaurants__ubicacion {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .information-restaurants__image {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .information-restaurants__menu {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .container-submit {
    width: 95%; } }

.main-login {
  width: 600px;
  margin: 8.32em auto;
  padding: .5em 0; }

.user, .password {
  padding: 1.5em; }

.user__lbl {
  width: 100px;
  display: inline-block; }

.user_txt {
  padding: .1em 0;
  width: 12em; }

.user__btn {
  border: none;
  width: 100px;
  padding: .2em 0 .2em;
  color: #FFF;
  background: #CC3333;
  margin: .8em 0; }

.criolla {
  position: relative;
  background: url(../images/food/lomo-saltado.jpg) no-repeat;
  background-size: cover; }

.oriental {
  position: relative;
  background: url(../images/food/foriental.jpg) no-repeat;
  background-size: cover; }

.italiana {
  position: relative;
  background: url(../images/food/fpizza.jpg) no-repeat;
  background-size: cover; }

.parrillas {
  position: relative;
  background: url(../images/food/fmeat2.jpg) no-repeat;
  background-size: cover; }

.marina {
  position: relative;
  background: url(../images/food/fceviche.jpg) no-repeat;
  background-size: cover; }

.polleria {
  position: relative;
  background: url(../images/food/fchicken.jpg) no-repeat;
  background-size: cover; }

.main {
  position: relative;
  background: url(../images/food/mainbanner2.jpg) no-repeat;
  background-size: cover; }

.opacity:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3);
  z-index: 10; }

.main:before {
  background: rgba(51, 51, 51, 0.1); }
